<div class="container" style="width: 60%;">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-8">
      <% unless current_user==(@user) %>
        <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>