<br>
<div style="width: 80%;">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-8">
      <% @user ||= current_user %>
        <div class=" stats row">
          <div class="col-6" style="display:flex;">
            <h5 id="followers" class="stat"><%= @user.followers.count %></h5>
            <div style="width:20px;"></div>
            <h5>FOLLOWERS</h5>
          </div>
          <div class="col-6" style="display:flex;">
            <h5 id="following" class="stat"><%= @user.following.count %></h5>
            <div style="width:20px;"></div>
            <h5>SEGUITI</h5>
          </div>
        </div>
    </div>
  </div>
</div>