<br><br>
IMPOSTAZIONI
<hr><br>
<li><%= link_to "Informazioni Sviluppatori"%></li>
<br>
<li><%= link_to "Segnalazioni"%></li>
<br>
<li><%= link_to "Proposte per migliorare app"%></li>
<br>
<li><%= link_to "Richiesta assistenza"%></li>
