<br>
<div class="container-fluid double-bar" style="text-align: center; z-index:0;">
  <div class="row align-items-center d-flex justify-content-between">
    <div class="col-3" style="text-align:center;"></div>
    <div class="col" style="text-align:center;">
      <%= link_to "Home", root_path(), class: "btn feed-link home-buttons 1 font-size: 20px;" %>
    </div>
    <% if current_user!=nil %>
      <div class="col" style="text-align:center;">
        <%= link_to "Seguiti", feed_path(), class: "btn feed-link home-buttons 2 font-size: 20px;" %>
      </div>
    <% end %>
    <div class="col" style="text-align:center;">
      <%= link_to "Esplora", maps_path(), class: "btn feed-link home-buttons 3 font-size: 20px;" %>
    </div>
    <div class="col-3" style="text-align:center;"></div>
  </div>
</div>


<br>
<br>

<div id="map"></div>


<script>
    var map;
    var pos = {lat: 47.3312903, lng:11.1680664};
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: pos,
            zoom: 4,
            mapTypeControl: false,
            zoomControl: false,
            fullscreenControl: false,
            streetViewControl: false
        });

        var m = [
            getMarker(43.1754949, 13.0298647, 'Italia'),
            getMarker(46.6999999, 1.7153401, 'Francia'),
            getMarker(39.6489255, -3.3022213, 'Spagna'),
            getMarker(55.4207349, -2.7231131, 'Regno Unito'),
            getMarker(51.477977, 11.0692267, 'Germania')
        ];

        function getMarker(lat, lng, title){
            var marker = new google.maps.Marker({
            position : {lat: lat, lng: lng},
            map: map,
            title: title
            });

            marker.addListener('click', function() {
              var title = marker.get('title');
              // Esegui la chiamata AJAX al server per recuperare i post
              $.ajax({
                url: '/maps/' + title,
                type: 'GET',
                success: function(response) {
                  console.log(response);
                  $("#markerModalLabel").text(title);
                  $('#markerModal').modal('show');
                  var postsHtml = '';
                  response.forEach(function(post) {
                    postsHtml += '<div class="post">';
                    postsHtml += '#<strong class="post-cathergory">' + post.category + '</strong>';
                    postsHtml += '<h4 class="post-author">' + post.author_name + '</h4>';
                    postsHtml += '<h3 class="post-title">' + post.title + '</h3>';
                    postsHtml += '<div class="row">';
                    postsHtml += '<div class="col-4">';
                    postsHtml += '<img class="post-img" src=' + post.img_test + ' style="width: 100%; border-radius: 5px;" >';
                    postsHtml += '</div>';
                    postsHtml += '<div class="col-8">';
                    postsHtml += '<p class="post-body">' + post.body + '...<a href = "' + post.url + '" target="_blank" rel="noopener noreferrer">Articolo completo</a></p>';
                    postsHtml += '</div>';
                    postsHtml += '</div>';
                    postsHtml += '</div>';
                    postsHtml += '<hr>';
                  });
                  $('#markerModal .modal-body').html(postsHtml);
                },

                error: function() {
                  alert('Errore durante il caricamento dei post.');
                }
              });
            });

        }
    }

</script>

<style>

#map {
  height: 500px;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

</style>


<!-- Modal -->
<div class="modal fade" id="markerModal" tabindex="-1" role="dialog" aria-labelledby="markerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:600px;">
      <div class="modal-header">
        <h5 class="modal-title" id="markerModalLabel">Titolo del marker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
