<div class="container" style="text-align:center;">
  <h1>Scrivi un Articolo</h1>
</div>

<%= render "form", post: @post %>

<br>

<div class="container" style="text-align:center;">
  <%= link_to "Back to posts", root_path, class: "btn btn-danger", style: "width:60%;"  %>
</div>
