@import "font-awesome";
p{
  margin-bottom: 5px;
}
.rank-btn{
  width: 30%;
  height: 50%;
  padding: 0px;
  margin: 0px;
  border-style: none;
}
.rank-btn:focus {
  outline: none;
}

.rank-btn img {
  width: 60%;
  height: 60%;
}
.comment-list{
  padding: 0px;
  margin: 0px;
}
.favorite{
  border-style: none;
  padding: 0px;
}
.pencil{
  position: fixed;
  bottom: 70px;
  right: 65px;
  padding: 0px;
  border-radius: 20px;
  border-style: none;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #4c8ed6;
  border-color: #4c8ed6;
}
.searchbar1, .searchbar2{
  border-radius: 10px;
  border: none;
  width: 700px;
  padding-left: 45px;
  background-color:#efefef;
}
.searchbar-container {
  position: relative;
}

.fa-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color:#726565;
}
.searchbar1::placeholder {
  text-align: left;
}

iframe{
  display: none;
}

.home-buttons{
  display: block;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  border-bottom: unset;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  background-color: none;
}

button, input{
  background-color: #ffffff;
  color: white;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 0px;
  cursor: pointer;
}
.btn-green{
  background-color: rgb(255, 255, 255);
}
.btn-red{
  background-color: rgb(255, 255, 255);
}
.blue-btn{
  background-color: rgb(0, 174, 255);
}
.button_to{
    margin: auto;
}
gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid ;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}
li.list-group-item{
  border-style: none;
}
.border-right {
  border-right: 1px solid #0061c3!important;
}
.list-group-item:last-child {
  padding: 3px;
  margin-bottom: 10px;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  display: flex;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  display: none;
}
.delete-btn{
  padding-top: 20px;
  padding-left: 0px;  
  border-style: none;
}
.alert.show {
  display: block;
}

.comment-container::-webkit-scrollbar {
  width: 10px;
}

.comment-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.comment-container::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
  border-radius: 5px;
}

/* Imposta la larghezza della barra di scorrimento */
::-webkit-scrollbar {
  width: 10px;
}

/* Imposta il colore di sfondo della parte della barra di scorrimento che indica lo spazio non utilizzato */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Imposta il colore della parte della barra di scorrimento che indica lo spazio utilizzato */
::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 5px;
}
.btn{
  color: rgba(46, 49, 222, 0.998);
}
.feed-link{
  color: black;
}

.category-link{
  color: black;
  font-weight: lighter;  
}
.delete-link{
  color: #c02635;
}
.delete-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #c02635;
  transition: width .3s;
}
.delete-link:hover {
  color: #c02635;
}
.delete-link:hover::after {
  width: 100%;
}
.delete-link-clicked::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #c02635;
}

.feed-link:hover {
  color: rgba(46, 49, 222, 0.998);
}
.category-link:hover {
  color: rgb(1, 151, 4);
}

.feed-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgba(46, 49, 222, 0.998);
  transition: width .3s;
}

.feed-link-clicked::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(46, 49, 222, 0.998);
}
.category-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(1, 151, 4);
  transition: width .3s;
}
.category-link-clicked::after {
  content: '';
  color:rgb(1, 151, 4);
  display: block;
  width: 100%;
  height: 2px;
  background: rgb(1, 151, 4);
}
.feed-link-clicked {
  color: rgba(46, 49, 222, 0.998);
}
.category-link-clicked {
  color: rgb(1, 151, 4);
}


.feed-link:hover::after {
  width: 100%;
}
.category-link:hover::after {
  width: 100%;
}

.post{
  border-radius:2%;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-right: 5px;
}
.sharethis-inline-share-buttons{
  padding-bottom: 20px;
}
body{
  background-color: #f0f0f0cc !important;
}
.delete-post, .delete-user{
  color: white;
  border-style: none;
  background-color: #c02635;
}
.delete-post:hover, .delete-user:hover{
  background-color: #c02635;
}
