@import "font-awesome";
p{
  margin-bottom: 5px;
}
.rank-btn{
  width: 30%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  border-style: none;
}
.rank-btn:focus {
  outline: none;
}

.rank-btn img {
  width: 60%;
  height: 60%;
}
.favorite{
  border-style: none;
  padding: 0px;
}
.pencil{
  position: fixed;
  bottom: 70px;
  right: 65px;
  border-radius: 20px;
}

.searchbar{
  border-radius: 20px;
}

iframe{
  display: none;
}

.home-buttons{
  display: block;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

button, input{
  background-color: #ffffff;
  color: white;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 0px;
  cursor: pointer;
}
.btn-green{
  background-color: rgb(255, 255, 255);
}
.btn-red{
  background-color: rgb(255, 255, 255);
}
.blue-btn{
  background-color: rgb(0, 174, 255);
}
.button_to{
    margin: auto;
}
gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid ;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  display: none;
}

.alert.show {
  display: block;
}

.alert-signup {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

//.delete { ==> relativa alla versione con dentro il bottone
 // position: relative;
 // left: 470px;
 // top:10px;
  
//}

