button, input{
  background-color: #ffffff;
  color: white;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 0px;
  cursor: pointer;
}
.btn-green{
  background-color: green;
}
.btn-red{
  background-color: red;
}
.button_to{
    margin: auto;
}
